<h2>New Room</h2>

    <%= render "form.html", changeset: @changeset, libraries: @libraries, action: Routes.room_path(@conn, :create) %>

<span><%= link "Back", to: Routes.room_path(@conn, :index) %></span>
