<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Hello Metro!</title>

   <link href = "https://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css"
         rel = "stylesheet">
      <script src = "https://code.jquery.com/jquery-1.10.2.js"></script>
      <script src = "https://code.jquery.com/ui/1.10.4/jquery-ui.js"></script>
  <script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="container">
      <header class="header">
        <nav role="navigation">
            <ul class="breadcrumb text-right">
                                                  <li><%= link "books", to: Routes.book_path(@conn, :index) %></li>
               <%= if Coherence.current_user_name(@conn) do %>
                         <%= if @conn.assigns.current_user.is_librarian? do %>
                            <div class="dropdown" style="display:inline-block">
                                  <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                      admin
                                      <span class="caret"></span>
                                  </a>
                                  <ul class="dropdown-menu dropdown-menu-right">
                                      <li><%= link "work", to: Routes.work_path(@conn, :index) %></li>
                                      <li><%= link "transit", to: Routes.transit_path(@conn, :index) %></li>
                                      <li><%= link "copies", to: Routes.copy_path(@conn, :index) %></li>
                                      <li><%= link "waitlist", to: Routes.waitlist_path(@conn, :index) %></li>
                                      <li><%= link "checkouts", to: Routes.checkout_path(@conn, :index) %></li>
                                  </ul>
                           </div>
                         <% end %>

                            <div class="dropdown" style="display:inline-block">
                                <a class="dropdown-toggle" type="button" data-toggle="dropdown">
                                    <%= Coherence.current_user_name(@conn) %>

                                    <span class="caret"></span>
                                </a>
                                <ul class="dropdown-menu dropdown-menu-right">
                                     <li><%= link "profile", to: Routes.user_path(@conn, :show, Coherence.current_user(@conn) ) %></li>
                                    <li><%= link "log out", to: Routes.session_path(@conn, :delete), method: "delete" %></li>
                                </ul>
                            </div>
                            <% else %>
                <li><%= link "register", to: Routes.registration_path(@conn, :new) %></li>
                <li><%= link "log in", to: Routes.session_path(@conn, :new) %></li>
                                <% end %>

            </ul>
        </nav>
          <ul class="nav nav-pills pull-right">
            <li><a href="http://www.phoenixframework.org/docs">Get Started</a></li>
          </ul>
        </nav>
        <span class="logo"></span>
      </header>

      <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
      <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>

      <main role="main">
        <%= render @view_module, @view_template, assigns %>
      </main>

    </div> <!-- /container -->
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
  </body>
</html>
