/* This file is for your main application css. */

@import "./phoenix.css";
/*@import "../../deps/phoenix_live_view/assets/css/live_view.css";*/

img {
    float: left;
    margin-right: 10px;
    clear:both;
}
p {
    margin-left: 0px;
    overflow:auto;
    display:block;

}

#map {
    height: 400px;  /* The height is 400 pixels */
    width: 100%;  /* The width is the width of the web page */
}

.checkbox-grid li {
    display: block;
    float: left;
    width: 30%;
}

.formGroup {
    display: flex;
    flex-flow: row-reverse wrap;
    justify-content: flex-end;
}

/*.container{*/
    /*max-width: 1400px;*/
/*}*/


