<h2>Edit Book</h2>

    <%= render "edit_form.html", book: @book, changeset: @changeset, genres: @genres, authors: @authors, action: Routes.book_path(@conn, :update, @book) %>


<span><%= link "Back", to: Routes.book_path(@conn, :index) %></span>
