<nav role="navigation">
    <div class="breadcrumb text-right">
        <%= link "books", to: Routes.book_path(@socket, :index), class: "ml-auto", style: "padding-right: 7px;" %>
        <%= link "register", to: Routes.registration_path(@socket, :new), class: "dropdown-item" %>
        <%= link "log in", to: Routes.session_path(@socket, :new), class: "dropdown-item" %>
    </div>
</nav>