<h2>New Checkout</h2>

<%= render "form.html", changeset: @changeset, isbn: @isbn, libraries: @libraries, action: Routes.checkout_path(@conn, :create) %>

<span><%= link "Back", to: Routes.checkout_path(@conn, :index) %></span>
