<h2>Show Waitlist</h2>

<ul>

  <li>
    <strong>Position:</strong>
    <%= @waitlist.position %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.waitlist_path(@conn, :edit, @waitlist) %></span>
<span><%= link "Back", to: Routes.waitlist_path(@conn, :index) %></span>
